doctype html
html(lang="en")
  head
    title="FCC - Image Search"
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet" href="style.css")
  body
    div#container
      h1 FCC Project - Image Search API
        
    script(src="analytics.js")
      