html(lang="en")
  head
    title="FCC - File Metadata Microservice"
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
  body
    h4 Output Information Via API:
    p Use this form to select files and get a reply via JSON API
    form(action="api" method="post" enctype="multipart/form-data")
      input(type="file" name="files" multiple)
      input(type="submit")
    
    h4 Output Information Live:
    p Use this form to select files and see info immediately
    input(type="file" id="live-file-reader" name="files" multiple)
    output(id="file-list")
      
    script(src="analytics.js")
    script(src="index.js")