html(lang="en")
  head
    title="FCC - File Metadata Microservice"
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
  body
    p Hello world
    
    
    script(src="analytics.js")
    script(src="index.js")